page-register {
/*.btn-top-bar{
visibility:hidden !important;
display:none !important;
}
.per-top-bar{
visibility:hidden !important;
display:none !important;
}
.logo-top-bar{
margin-left:19% !important;
margin-right:19% !important;
width:62%;
}
.top-bar-logo-row{
	background-color:#fff;
	width:100%;	
	float:left;
}*/
#btn_sidebar{
display:none !important;
}
.per-top-bar{
display:none !important;
}
.logo-top-bar{
	margin-left: 17% !important;
	margin-right: 17% !important;
	}
.dashboard-row{
		
		width:100%;
		height:500px;
		background-image:url('/assets/imgs/fondo-dashboard.png');		
		background-size: auto 80%;
		background-position: center;
		background-repeat: no-repeat;
		margin-top:78px;
		
	}
.registro-row{
	background-color:#b71e30;
	width:100%;
	height: 55px;
	padding-top:10px;
	margin-top:78px;
}
.registro-url{
	margin-top:10px ;
	font-size:20px;
	width:44%;
	margin-left:28%;
	margin-right:28%;
	margin-top:2px;
	text-align:center;
	margin-bottom:15px;
	color:white !important;
}
.Aulatix-input{
	//padding: 18px 15px !important;
	padding: 0px 15px !important;	
	width:100%;
	height:50px !important;
	font-size:14px !important;
	background-color: #f9f9f9 !important;
	border-width: 0px 0px 2px 0px !important;
	border-color: #eeeeee !important; 
}

.Aulatix-select{
	//padding: 14px 15px !important;
	padding: 0px 15px !important;
	width:100%;
	max-width:100% !important;
	height:50px !important;
	font-size:14px !important;
	border-width:0px !important;
	color:#808080 !important;
	background-color: #f9f9f9 !important;
	border-width: 0px 0px 2px 0px !important;
	border-color: #eeeeee !important; 
}
.item-cover { width: 0; height: 0; }
.Aulatix-select > option[disabled] { 
	color:#808080 !important;
} 
.Aulatix-foto{
	width:30%;
	height:auto;
	margin:20px 35% 10px;

}
.select-text{
	margin-left:10px !important;
}
.login-input5{
	background-color:#b71e30;
	color:white !important;
	width: 44%;
	height:35px;
	margin-left:28%;
	margin-right:28%;
	margin-top:30px;
	margin-bottom:30px;
	border-radius: 28px;
	text-align:center;
	font-size:16px;
	/*padding:9px 25px !important;*/
	
	
}
}
