<!--
  Generated template for the ContentindiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>contentindi</ion-title>
  </ion-navbar>

</ion-header>
-->
<ion-content>

<iframe *ngIf="contentid == 2"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae1_ae1_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 3"  src="https://aulatix.com/uploads/contents/pdf/organizador-ae2_ae2_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 4"  src="https://aulatix.com/uploads/contents/pdf/organizador-ae3_ae3_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 5"  src="https://aulatix.com/uploads/contents/pdf/organizador-ae4_ae4_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 6"  src="https://aulatix.com/uploads/contents/pdf/organizador-ae5_ae5_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 7"  src="https://aulatix.com/uploads/contents/pdf/organizador-ae6_ae6_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 8"  src="https://aulatix.com/uploads/contents/pdf/organizador-ae7_ae7_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 9"  src="https://aulatix.com/uploads/contents/pdf/organizador-ae8_ae8_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 10"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae9.1_a91_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 11"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae9.2_a92_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 12"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae9.3_a93_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 13"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae10_a10_1.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 14"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae11_a11_2.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 15"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae12_a12_2.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 16"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae13_a13_2.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 17"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae14_a14_2.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 18"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae15_a15_2.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 19"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae16_a16_2.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 20"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae17_a17_2.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 21"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae18_a18_2.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 22"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae19.0_a19_3.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 23"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae19.1_a19_3.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 24"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae19.2_a19_3.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 25"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae20_a20_3.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 26"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae21_a21_3.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 27"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae22_a22_3.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 28"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae23_a23_3.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
<iframe *ngIf="contentid == 29"  src="https://aulatix.com/uploads/contents/pdf/organizador_ae24_a24_3.pdf"  class="frameSet" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>


</ion-content>

