page-mateindi {

.login-input10{
	background-color:#f9f9f9;
	color:#808080 ;
	width: 100%;
	height:45px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	/*padding:9px 25px !important;*/
	/*padding: 0px 30px;*/
}
.dashboard6-row{
	float:left;
	width:100%;
	height:500px;
	margin-top:78px;
}
.dash-title{
	color:#808080 ;
	text-align:center;
	font-weight:bold;
}
.login-input10>label{
	width:33%;
	text-align:center;
	font-size:14px;
	height:21px;
	margin-top:12px ;
	margin-bottom:12px ;
	float:left;
}
.Aulatix-input13{
	padding: 18px 15px!important;
	width:70%;
	height:50px !important;
	float:left;
	font-size:14px !important;
}
.Aulatix-input14{
	background-color:#b71e30;
	color:white !important;
	width: 26%;
	height:34px;
	margin-left:2%;
	margin-right:2%;
	margin-top:8px;
	margin-bottom:8px;
	font-style: italic;
	text-align:center;
	font-size:16px;
	float:left;
	/*padding:9px 25px !important;*/
	
	
}
.Aulatix-select2{
	padding: 14px 15px!important;
	width:70%;
	float:left;
	height:50px !important;
	font-size:14px !important;
	border-width:0px !important;
}
.Aulatix-select2 > option[disabled] { 
	color:#808080 !important;
} 
.invisi{
	display: none;
}
.espacio2{
	margin-top:100px !important;
}
.login-input71{
	background-color:#f9f9f9;
	color:#808080 ;
	width: 100%;
	height:45px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
	float:left;
	font-size:16px;
	font-weight: bold;
	padding:9px 25px !important;
	
}
.login-input81{
	background-color:#808080;
	color:white !important;
	width: 100%;
	height:45px;
	float:left;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
	font-size:16px;
	font-weight: bold;
	padding:9px 25px !important;
	
}

}
