page-home {
	.login-input61{
		background-color:#f9f9f9;
		color:#808080 !important;
		width: 100%;
		height:45px;
		margin-left:0px;
		margin-right:0px;
		margin-bottom:0px;
		margin-top:0px;
		text-align:center;
		font-weight:bold;
		font-size:18px;
		//border:0px !important;
		padding:9px 25px !important;
	}
	.login-input62{
		background-color:#808080;
		color:white !important;
		width: 100%;
		height:45px;
		margin-left:0px;
		margin-right:0px;
		margin-top:0px;
		margin-bottom:0px;
		font-weight:bold;
		text-align:center;
		font-size:18px;
		padding:9px 25px !important;
		//border:0px !important;
	}
	.login-input-espacio{
		margin-top:85px !important;
		
	}
	.login-input-espacio2{
		margin-top:160px !important;
		
	}
	.dashboard5-row{
		float:left;
		width:100%;
		height:500px;
		background-image:url('/assets/imgs/fondo-dashboard.png');		
		background-size: auto 80%;
		background-position: center;
		background-repeat: no-repeat;
		margin-top:78px;
		
	}
}
