page-subjectsingle {
.login-input10{
	background-color:#f9f9f9;
	color:#808080 ;
	width: 100%;
	height:45px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	/*padding:9px 25px !important;*/
	/*padding: 0px 30px;*/
}

.login-input10>label{
	width:33%;
	text-align:center;
	font-size:14px;
	height:21px;
	margin-top:12px ;
	margin-bottom:12px ;
	float:left;
}
.label-precio{
	font-size:18px !important;
	text-align:right !important;
	height:25px;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:15px !important;
}
.label-input{
	height:45px;
		margin-top:0px !important;
	margin-bottom:0px !important;
}
.title-mat-img{
	width:100%;
	height:auto;
}
.title-mat-descrp{
	font-size:16px;
	width:100%;
	font-weight:bold;
	padding-top:10px;
	text-align:left;
	padding-bottom:10px;
	padding-left:8px;
	padding-right:8px;
	color:#808080;
	margin:0px !important;
	background-color:white !important;
}
.title-mat-row{
	background-color:#F9F9F9;
	width:100%;
	height: 55px;
}
.title-mat{
	font-size:20px;
	width:100%;
	padding-top:15px;
	text-align:left;
	padding-bottom:12px;
	padding-left:15px;
	color:#808080;
	margin:0px !important;
}
.login-input11{
	background-color:#b71e30;
	color:white !important;
	width: 100%;
	height:45px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	text-align: center;
	font-size:18px;
	padding:9px 25px !important;	
	
}
}
