<!--
  Generated template for the PerfilpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<at-menu></at-menu>
<ion-content>
    <div class="dashboard5-row" >
			<img class="perfil-img" src="assets/imgs/perfil.png" alt="aulatix perfil"  (click)="PerfilPage()" >
		<div class="dashboard-row">
				<p class="login-input15"><label>Información Personal</label></p>
				<p class="Aulatix-label">Nombre:</p>
				<input [(ngModel)]="userdata.name" type="text" class="Aulatix-input">
				<p class="Aulatix-label" >Apellido:</p>
				<input [(ngModel)]="userdata.lastname" type="text" class="Aulatix-input">
				<p class="Aulatix-label2" >Correo: {{userdata.email}}</p>
				<!--<p class="Aulatix-label" >Contraseña:</p><input [(ngModel)]="userdata.password" type="password" class="Aulatix-input" >
				<p class="Aulatix-label" >Confirmación:</p><input [(ngModel)]="userdata.password_confirmation" type="password" class="Aulatix-input" >-->
				<p class="Aulatix-label" >Cumpleaños:</p>
				<input [(ngModel)]="userdata.birthdate" type="text" class="Aulatix-input">
				<p class="Aulatix-label2" >Estado: {{userdata.state_id}}</p>
				<p class="Aulatix-label2" >Ciudad: {{userdata.city_id}}</p>
				<p class="login-input15"><label>Información Escolar</label></p>
				<p class="Aulatix-label">Clave del alumno:</p>
				<input [(ngModel)]="userdata.student_ucode" type="text" class="Aulatix-input" >
				<p class="Aulatix-label">Subsistema:</p>
				<select [(ngModel)]="userdata.subsystem_id" class="Aulatix-select">
				  <option value="1" >General</option>
				  <option value="2" >Técnico</option>
				</select>
				<p class="Aulatix-label2">Escuela: {{userdata.school1_id}}</p>
				<!--
				
				<select [(ngModel)]="userdata.state_id" class="Aulatix-select" (click)="ciuPage()">
				  <option disabled selected hidden>Estado</option>
				  <option *ngFor="let item of arrayCosas" value="{{item[0]}}">{{item[1]}}</option>
				</select>
				<select [(ngModel)]="registerdata.city_id" class="Aulatix-select" (click)="escuelaPage()">
				  <option disabled selected hidden>Ciudad</option>
				  <option *ngFor="let item of arrayCosas2" value="{{item[0]}}">{{item[1]}}</option>
				</select>-->
				<!--
				<select [(ngModel)]="registerdata.school1_id" class="Aulatix-select">
				  <option disabled selected hidden>Escuela</option>
				  <option *ngFor="let item of arrayCosas3" value="{{item[0]}}">{{item[1]}}</option>
				</select>-->
				<input (click)="Guardar()" type="submit" class="login-input5" value="Guardar">
		</div>
	</div>
</ion-content>
